.appContainer {
    padding: 1rem;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  /* Можно оставить, если нужна вертикальная структура */
    align-items: center;     /* Центрируем заголовок и т.п. */
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.twoColumns {
    display: flex;
    justify-content: center;  /* Центрирование колонок */
    align-items: flex-start;  /* Выравнивание по верхнему краю */
    gap: 30rem;               /* Отступ между колонками, увеличьте/уменьшите при необходимости */

    max-width: calc(100% - 50px); /* Учитываем отступы по бокам */
    margin: 0 auto;
}

.leftColumn {
    flex: 0 0 400px;  /* Фиксированная ширина Pomodoro Timer */
}

.rightColumn {
    flex: 0 0 400px;  /* Фиксированная ширина правой колонки (настраивайте под себя) */
}


html, body {
    overflow-x: hidden;  /* Отключаем горизонтальную прокрутку */
    width: 100%;
    margin: 0;
    padding: 0;
}



.darkMode {
    background-color: #1e293b;
    color: #e2e8f0;
    border: 2px solid #334155;
}

.lightMode {
    background-color: #f1f5f9;
    color: #1e293b;
    border: 2px solid #cbd5e1;
}

.themeToggle {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: #06b6d4;
    color: #ffffff;
    transition: background-color 0.3s, transform 0.2s;
}

.themeToggle:hover {
    background-color: #0284c7;
    transform: scale(1.1);
}

input {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    border: 2px solid #94a3b8;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #3b82f6;
}

.pomodoroTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: inherit;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.pomodoroProgressBar {
    width: 100%;
    height: 1rem;
    background-color: #e2e8f0;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid #94a3b8;
    margin-bottom: 1rem;
}

.pomodoroProgress {
    height: 100%;
    background-color: #22c55e;
    transition: width 0.5s ease-in-out;
}

button {
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #6366f1;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #4f46e5;
    transform: translateY(-2px);
}
